@import '../../Global.scss';

.Header {
  width: 100vw;
  height: 3rem;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: nowrap;

  .Header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blue;

    .Header__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.2rem;

      text-decoration: none;

      transition-duration: 0.2s;

      color: white;
      &:focus {
        border-bottom: double 0.2rem $orange;
        border-radius: 0.3rem;

        color: $lemon;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .Header {
    height: max-content;
    .Header__nav {
      height: max-content;
      display: flex;
      flex-wrap: wrap;

      justify-content: center;
      .Header__link {
        margin: 0.3rem 0;
        display: flex;
        justify-content: center;
        height: max-content;
        width: 100%;
      }
    }
  }
}
